/* 全局样式表 */

html,
body,
#app {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  min-width: 1466px;
}

.iconfont{
  margin-right: 10px;
  margin-left: 3px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 13px;
}

.el-card {
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 13px;
}

.el-pagination{
  margin-top: 15px;
}


